/* Reusable utility classes */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Navbar */

.sidenav li>h4 {
    padding: 0 32px;
}

nav .brand-logo {
    margin: 0 18px;
}

nav .hide-on-med-and-down {
    margin: 0 3px 0 18px;
}

/* Tasks UI */

#urgent {
    margin-left: 8px;
}

.collapsible-header {
    line-height: 32px;
    padding: 1rem .5rem;
}

.collapsible-header.row {
    margin-bottom: 0;
}

.btn-floating {
    margin: 0 3px;
}

.btn-container>.btn-floating:first-child {
    box-shadow: unset;
}

.btn-container>.btn-floating:nth-child(2) i,
.btn-container>.btn-floating:nth-child(3) i,
.btn-container>.btn-floating:nth-child(2) i::before,
.btn-container>.btn-floating:nth-child(3) i::before {
    display: flex;
}

.btn-container>.btn-floating:nth-child(2) i,
.btn-container>.btn-floating:nth-child(3) i {
    align-items: center;
    justify-content: center;
    width: 32px;
}

.btn-container>.btn-floating:nth-child(2) i {
    font-size: 1rem;
}

.btn-container>.btn-floating:nth-child(3) i {
    font-size: 1.2rem;
}

.btn-container>.btn-floating:first-child i {
    color: rgba(0,0,0,0.87);
}

.row .col.btn-container {
    padding-left: 0;
}

strong {
    font-weight: 700;
}

/* Registration form */

#btn-register,
#btn-save,
#btn-cancel,
#btn-reset {
    line-height: 46px;
    height: 46px;
    font-size: 16px;
}

/* Add Task UI */

.input-field .prefix.fa-user-clock {
    top: unset;
    position: relative;
}

#category_name_label {
    font-size: 1rem;
}

#add_task_form,
#edit_task_form,
#add_category_form {
    padding: 24px;
}

#is_urgent_label {
    position: relative;
    left: -16px;
    top: 10px;
}

#submit-span {
    position: relative;
    left: 15px;
}

.due_date_row {
    margin-bottom: 10px;
}

.is_urgent_row {
    margin-bottom: 36px;
}

/* Edit Task UI */

#category_name_edit option:first-child {
    color: red;
}

#btn-save,
#btn-cancel,
#btn-reset {
    width: 30%;
}

#btn-save,
#btn-cancel {
    margin-right: 4.2%;
}

/* Manage Categories */

.card-action>.btn-floating {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.card-action>.btn-floating i {
    line-height: 48px;
}

/* Flash messages */

.flashes h4 {
    line-height: 1.5;
}


/* Media Queries */

@media only screen and (max-width: 992px) {
nav .brand-logo {
    margin: unset;
    }
}